<div class="container mt-5">
  <h1>Campgrounds</h1>

  <div class="row mt-4">
    <% @campgrounds.each do |campground| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="<%= campground.cover_photo_url %>" class="card-img-top" alt="<%= campground.name %>">
          <div class="card-body">
            <h2 class="card-title"><%= link_to campground.name, campground %></h2>
            <p class="card-text"><%= truncate(sanitize(campground.overview.html_safe), length: 300, separator: '</p>', escape: false) %></p>
            <p class="card-text"><small class="text-muted">Location: <%= "#{campground.city}, #{campground.state}" %></small></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
